body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  @media(max-width: 600px){
    .form-search-header{
      display: none;
    }
  }
  