<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Library - {{title}}</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#" routerLink="/home">My Library</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" 
      aria-controls="appNavigation" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home" (click)="toggleMenu()" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/search" (click)="toggleMenu()" routerLinkActive="active">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/report" (click)="toggleMenu()" routerLinkActive="active">Report</a>
          </li>
        </ul>
      </div>

      <form class="form-inline mt-2 mt-md-0 form-search-header" action="/search" method="GET" ngNoForm>
        <input class="form-control mr-sm-2" type="text" placeholder="Search for a book" aria-label="Search" name="query">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <router-outlet></router-outlet>

    <div class="loading" id="loadingId"></div>
  </body>
</html>

