<main role="main" class="container-fluid">

    <div class="row">
        <div class="col border-right-dashed">
            <h2 class="text-center">Books I've read</h2>

            <div class="row">
                <div class="col text-center">
                    <img src="https://covers.openlibrary.org/b/id/295577-M.jpg" alt="img_test" class="img-thumbnail img_book">
                    <h5 class="text-center">The adventures of Tom Sawyer</h5>
                    <div class="btn-group" role="group">
                        <button id="btn_etc" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btn_etc">
                            <a class="dropdown-item" href="#">Dropdown link</a>
                            <a class="dropdown-item" href="#">Dropdown link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2 class="text-center">Books I'll read</h2>

            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>

</main>