/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
    cursor: pointer;
}

.width100{
    width: 100%;
}

.clear{
    clear: both;
}

.margin-top-15{
    margin-top: 1.5rem;
}

.img_book{
    max-width: 7.15rem;
    width: 100%;
}

.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: url('assets/images/loading.gif') no-repeat center center white;
    opacity: 0.8;
    z-index: 1040;
    display: none;
}

.show{
    display: block;
}